<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>New Customer</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>

    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="username">username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <br/>

    <label for="email">email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br/>

    <label for="city">city: </label>
    <input type="text" th:field="*{city}" id="city"/>
    <div style="color: red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
    <br/>

    <label for="street">street: </label>
    <input type="text" th:field="*{street}" id="street"/>
    <div style="color: red" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>
    <br/>

    <label for="suite">suite: </label>
    <input type="text" th:field="*{suite}" id="suite"/>
    <div style="color: red" th:if="${#fields.hasErrors('suite')}" th:errors="*{suite}"></div>
    <br/>

    <label for="zipcode">zipcode: </label>
    <input type="text" th:field="*{zipcode}" id="zipcode"/>
    <div style="color: red" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></div>
    <br/>

    <label for="phone">phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <div style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    <br/>
    <label for="website">website: </label>
    <input type="text" th:field="*{website}" id="website"/>
    <div style="color: red" th:if="${#fields.hasErrors('website')}" th:errors="*{website}"></div>
    <br/>

    <label for="gender">Gender: </label>
    <select class="form-control" th:field="*{gender}" id="gender">
<!--        <option th:value="*{gender}" th:text="*{gender}"></option>-->
        <option th:each="gen : ${genders}"
                th:value="${gen}"
                th:text="${gen}">
        </option>
    </select>
    <div style="color: red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
    <br/>
    <input type="submit" value="Save">
</form>

</body>
</html>